header{
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.registrationTitle{
  font-size: 18px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.infoTeam{
  margin-top: 20px;
  display: flex;
  flex-flow: row nowrap;

}

div label{
  margin-top: 6px;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cbc4c4; 
}

.App {
  text-align: center;
  width: 100%;
  max-width: 800px; 
  padding: 20px;
  border-radius: 8px; 
}

form {
  margin-bottom: 20px;
}

input {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  border: none; 
  background-color:  #ccb1b1; 
  border-radius: 4px; 
}

input-placeholder{
  font-size: 16px;
}

input:focus{
  border: none; 
}


button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 17px;
  border: none; 
  border-radius: 6px; 
  background-color: #952bb2;
  color: #000000; 
  cursor: pointer; 
  transition: background-color 0.5s; 
}

button:hover {
  background-color: #b964d1; 
}



.buttonMainPage{
  display: flex;
  justify-content: center;

}

.buttonInitial{
  margin-left: 50px;
}

h3{
  font-size: 24px;
}

ul{
  font-size: 20px;
}

.titleMatches{
  display: flex;
  justify-content: center;
}

.match{
  display: flex;
  justify-content: center;
}

.rivals{
  display: flex;
  justify-content: center;
}

.points{
  display: flex;
  justify-content: center;

}






